
# dependencies
node_modules
/.pnp
.pnp.js
*.local

# test
coverage

# production
dist

# lerna
lerna-debug.log*

# jest
coverage

# Storybook
storybook-static
*storybook.log

#TURBO
.turbo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env

## Typescript
tsconfig.tsbuildinfo
